.about{
  padding: 10%;
  background-image: url("../../images/winter.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  width: 100vw !important;
  color: white;
  
  padding-bottom: 60vh;
}
