.ui.masthead.segment {
  padding: 10%;
  background-image: url("../../images/badassSanta.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  width: 100vw !important;
  color: white;
  text-shadow: 2px 2px gray;
  padding-bottom: 65vh;
}
