.ui.masthead3.segment {
  padding: 10%;
  background-image: url("../../images/gangsterGnomes.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  width: 100vw !important;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  padding-bottom: 35vh;
}
