/* footer styling and positioning */
.footer {
    position: fixed;
    background-color: #2b6a4d;
    width: 100%;
    padding: 10px;
    bottom: 0;
    text-align: center;
    color: white;
  }

/* FontAwesome #footer-icon */
#footer-icons {
    text-align: center !important;
    color: white;
    font-size: 3em;
    padding: 10px;
}

#footer-text {
  color: white !important;
  font-size: 1.5em !important;
}

