#card {
    padding: 10px;
    background-image: url("../../images/bio.jpeg");
    background-repeat: no-repeat !important;
    background-size: cover;
    
}

#biotext {
    color: white;
    font-size: 20px;
}

