#card {
    padding: 10px;
    background-repeat: no-repeat !important;
    background-size: cover;
  }
  #biotext {
    color: rgb(88, 85, 85);
    font-size: 20px;
    text-shadow: 1px 1px gray;
  }
  .profilegrid {
    background-image: url("../../images/frenchChristmas.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    padding-bottom: 65vh
  }